[user]
	email = d4nicoder@gmail.com
	name = @d4nicoder
	signingkey = 92FDC3F0A53FEF28
[alias]
	ch = checkout
	lodag = log --all --graph --decorate --oneline
	b = branch
[pull]
	rebase = true
[commit]
	gpgsign = true
[core]
	excludesfile = $HOME/.gitignore
[color]
	ui = true
[init]
	defaultBranch = main
